#content #txt{text-align: center;}
#content #txt span{font-weight: normal;font-family: "新宋体";}
#content .small{text-align: center;}
#content mark{background: #D9EDF7;}
#content .text{text-indent: 2em;}
.list-group{margin-top: 15px;}
#list-f{background: #DFF0D8;color: #4F854F;}

