
#content .text{font-size: 16px;}
#content a{text-decoration: none;}
#content .col-md-3{padding-left: 14px;}
#content .content-bottom .container{padding-left: 0;}
#content #title{font-size:30px;padding-top: 20px;padding-bottom: 10px;line-height: 1.1;}